In [5]:
import pandas as pd

In [6]:
data = pd.DataFrame({'Name':       ['Anna', 'Karen', 'John', 'Reybica', 'Alcaraz', 'Harshal', 'Hoda'],
                     'Age':        [25, 28, 24, 26, 31, 37, 42],
                     'Salary':     [25000, 28000, 24500, 25890, 30000, 35500, 50500],
                     'Department': ['tech', 'tech', 'tech', 'Operation', 'Healthycare', 'Finance', 'tech']})
print (data)

      Name  Age  Salary   Department
0     Anna   25   25000         tech
1    Karen   28   28000         tech
2     John   24   24500         tech
3  Reybica   26   25890    Operation
4  Alcaraz   31   30000  Healthycare
5  Harshal   37   35500      Finance
6     Hoda   42   50500         tech

In [7]:
print(data.sort_values(by = 'Salary'))

      Name  Age  Salary   Department
2     John   24   24500         tech
0     Anna   25   25000         tech
3  Reybica   26   25890    Operation
1    Karen   28   28000         tech
4  Alcaraz   31   30000  Healthycare
5  Harshal   37   35500      Finance
6     Hoda   42   50500         tech

In [8]:
print(data.groupby("Department").count())

             Name  Age  Salary
Department
Finance         1    1       1
Healthycare     1    1       1
Operation       1    1       1
tech            4    4       4

In [9]:
print(data.groupby("Department")['Salary'].mean())

Department
Finance        35500.0
Healthycare    30000.0
Operation      25890.0
tech           32000.0
Name: Salary, dtype: float64

In [10]:
print(data[data['Salary'] > 30000])

      Name  Age  Salary Department
5  Harshal   37   35500    Finance
6     Hoda   42   50500       tech

In [11]:
print(data[data["Salary"] > 27000])

      Name  Age  Salary   Department
1    Karen   28   28000         tech
4  Alcaraz   31   30000  Healthycare
5  Harshal   37   35500      Finance
6     Hoda   42   50500         tech

In [12]:
print("ID", data[data["Age"].isin([25,40])])

ID    Name  Age  Salary Department
0  Anna   25   25000       tech

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("percent_bachelors_degrees_women_usa.csv")
print(df)

    Year  Agriculture  Architecture  Art and Performance    Biology
0   1970     4.229798     11.921005                 59.7  29.088363  \
1   1971     5.452797     12.003106                 59.9  29.394403
2   1972     7.420710     13.214594                 60.4  29.810221
3   1973     9.653602     14.791613                 60.2  31.147915
4   1974    14.074623     17.444688                 61.9  32.996183
5   1975    18.333162     19.134048                 60.9  34.449902
6   1976    22.252760     21.394491                 61.3  36.072871
7   1977    24.640177     23.740541                 62.0  38.331386
8   1978    27.146192     25.849240                 62.5  40.112496
9   1979    29.633365     27.770477                 63.2  42.065551
10  1980    30.759390     28.080381                 63.4  43.999257
11  1981    31.318655     29.841694                 63.3  45.249512
12  1982    32.636664     34.816248                 63.1  45.967338
13  1983    31.635347     35.826257                 62.4  46.713135
14  1984    31.092947     35.453083                 62.1  47.669083
15  1985    31.379659     36.133348                 61.8  47.909884
16  1986    31.198719     37.240223                 62.1  48.300678
17  1987    31.486429     38.730675                 61.7  50.209878
18  1988    31.085087     39.398907                 61.7  50.099811
19  1989    31.612403     39.096540                 62.0  50.774716
20  1989    31.612403     39.096540                 62.0  50.774716
21  1989    31.612403     39.096540                 62.0  50.774716
22  1989    31.612403     39.096540                 62.0  50.774716
23  1990    32.703444     40.824047                 62.6  50.818094
24  1991    34.711837     33.679881                 62.1  51.468805
25  1992    33.931660     35.202356                 61.0  51.349742
26  1993    34.946832     35.777159                 60.2  51.124844
27  1994    36.032674     34.433531                 59.4  52.246218
28  1995    36.844807     36.063218                 59.2  52.599403
29  1996    38.969775     35.926485                 58.6  53.789880
30  1997    40.685685     35.101934                 58.7  54.999469
31  1998    41.912403     37.598545                 59.1  56.351248
32  1999    42.887202     38.631529                 59.2  58.228823
33  2000    45.057766     40.023585                 59.2  59.389857
34  2001    45.866015     40.690282                 59.4  60.712331
35  2002    47.134658     41.132951                 60.9  61.895128
36  2003    47.935187     42.758543                 61.1  62.169456
37  2004    47.887140     43.466493                 61.3  61.914587
38  2005    47.672754     43.100368                 61.4  61.500984
39  2006    46.790300     44.499331                 61.6  60.172845
40  2007    47.605026     43.100459                 61.4  59.411993
41  2008    47.570834     42.711730                 60.7  59.305765
42  2009    48.667224     43.348921                 61.0  58.489583
43  2010    48.730042     42.066721                 61.3  59.010255
44  2011    50.037182     42.773438                 61.2  58.742397

     Business  Communications and Journalism  Computer Science  Education
0    9.064439                           35.3              13.6  74.535328  \
1    9.503187                           35.5              13.6  74.149204
2   10.558962                           36.6              14.9  73.554520
3   12.804602                           38.4              16.4  73.501814
4   16.204850                           40.5              18.9  73.336811
5   19.686249                           41.5              19.8  72.801854
6   23.430038                           44.3              23.9  72.166525
7   27.163427                           46.9              25.7  72.456395
8   30.527519                           49.9              28.1  73.192821
9   33.621634                           52.3              30.2  73.821142
10  36.765725                           54.7              32.5  74.981032
11  39.266230                           56.4              34.8  75.845123
12  41.949373                           58.0              36.3  75.843649
13  43.542070                           58.6              37.1  75.950601
14  45.124030                           59.1              36.8  75.869116
15  45.747782                           59.0              35.7  75.923440
16  46.532915                           60.0              34.7  76.143015
17  46.690466                           60.2              32.4  76.963092
18  46.764828                           60.4              30.8  77.627662
19  46.781565                           60.5              29.9  78.111919
20  46.781565                           60.5              29.9  78.111919
21  46.781565                           60.5              29.9  78.111919
22  46.781565                           60.5              29.9  78.111919
23  47.200851                           60.8              29.4  78.866859
24  47.224325                           60.8              28.7  78.991246
25  47.219395                           59.7              28.2  78.435182
26  47.639332                           58.7              28.5  77.267312
27  47.983924                           58.1              28.5  75.814933
28  48.573181                           58.8              27.5  75.125256
29  48.647393                           58.7              27.1  75.035199
30  48.561050                           60.0              26.8  75.163701
31  49.258515                           60.0              27.0  75.486160
32  49.810208                           61.2              28.1  75.838162
33  49.803616                           61.9              27.7  76.692143
34  50.275145                           63.0              27.6  77.375229
35  50.552335                           63.7              27.0  78.644244
36  50.345598                           64.6              25.1  78.544948
37  49.950894                           64.2              22.2  78.650748
38  49.791851                           63.4              20.6  79.067122
39  49.210914                           63.0              18.6  78.686306
40  49.000459                           62.5              17.6  78.721413
41  48.888027                           62.4              17.8  79.196327
42  48.840474                           62.8              18.1  79.532909
43  48.757988                           62.5              17.6  79.618625
44  48.180418                           62.2              18.2  79.432812

    Engineering    English  Foreign Languages  Health Professions
0           0.8  65.570923               73.8                77.1  \
1           1.0  64.556485               73.9                75.5
2           1.2  63.664263               74.6                76.9
3           1.6  62.941502               74.9                77.4
4           2.2  62.413412               75.3                77.9
5           3.2  61.647206               75.0                78.9
6           4.5  62.148194               74.4                79.2
7           6.8  62.723067               74.3                80.5
8           8.4  63.619122               74.3                81.9
9           9.4  65.088390               74.2                82.3
10         10.3  65.284130               74.1                83.5
11         11.6  65.838322               73.9                84.1
12         12.4  65.847352               72.7                84.4
13         13.1  65.918380               71.8                84.6
14         13.5  65.749862               72.1                85.1
15         13.5  65.798199               70.8                85.3
16         13.9  65.982561               71.2                85.7
17         14.0  66.706031               72.0                85.5
18         13.9  67.144498               72.3                85.2
19         14.1  67.017072               72.4                84.6
20         14.1  67.017072               72.4                84.6
21         14.1  67.017072               72.4                84.6
22         14.1  67.017072               72.4                84.6
23         14.1  66.921902               71.2                83.9
24         14.0  66.241475               71.1                83.5
25         14.5  65.622457               71.0                83.0
26         14.9  65.730950               70.0                82.4
27         15.7  65.641978               69.1                81.8
28         16.2  65.936949               69.6                81.5
29         16.7  66.437779               69.7                81.3
30         17.0  66.786355               70.0                81.9
31         17.8  67.255448               70.1                82.1
32         18.6  67.820221               70.9                83.5
33         18.4  68.365995               70.9                83.5
34         19.0  68.578520               71.2                85.1
35         18.7  68.829960               70.5                85.8
36         18.8  68.894487               70.6                86.5
37         18.2  68.454734               70.8                86.5
38         17.9  68.571221               69.9                86.0
39         16.8  68.297594               69.6                85.9
40         16.8  67.874923               70.2                85.4
41         16.5  67.594028               70.2                85.2
42         16.8  67.969792               69.3                85.1
43         17.2  67.928106               69.0                85.0
44         17.5  68.426730               69.5                84.8

    Math and Statistics  Physical Sciences  Psychology  Public Administration
0                  38.0               13.8        44.4                   68.4  \
1                  39.0               14.9        46.2                   65.5
2                  40.2               14.8        47.6                   62.6
3                  40.9               16.5        50.4                   64.3
4                  41.8               18.2        52.6                   66.1
5                  40.7               19.1        54.5                   63.0
6                  41.5               20.0        56.9                   65.6
7                  41.1               21.3        59.0                   69.3
8                  41.6               22.5        61.3                   71.5
9                  42.3               23.7        63.3                   73.3
10                 42.8               24.6        65.1                   74.6
11                 43.2               25.7        66.9                   74.7
12                 44.0               27.3        67.5                   76.8
13                 44.3               27.6        67.9                   76.1
14                 46.2               28.0        68.2                   75.9
15                 46.5               27.5        69.0                   75.0
16                 46.7               28.4        69.0                   75.7
17                 46.5               30.4        70.1                   76.4
18                 46.2               29.7        70.9                   75.6
19                 46.2               31.3        71.6                   76.0
20                 46.2               31.3        71.6                   76.0
21                 46.2               31.3        71.6                   76.0
22                 46.2               31.3        71.6                   76.0
23                 47.3               31.6        72.6                   77.6
24                 47.0               32.6        73.2                   78.2
25                 47.4               32.6        73.2                   77.3
26                 46.4               33.6        73.1                   78.0
27                 47.0               34.8        72.9                   78.8
28                 46.1               35.9        73.0                   78.8
29                 46.4               37.3        73.9                   79.8
30                 47.0               38.3        74.4                   81.0
31                 48.3               39.7        75.1                   81.3
32                 47.8               40.2        76.5                   81.1
33                 48.2               41.0        77.5                   81.1
34                 47.0               42.2        77.5                   80.9
35                 45.7               41.1        77.7                   81.3
36                 46.0               41.7        77.8                   81.5
37                 44.7               42.1        77.8                   80.7
38                 45.1               41.6        77.5                   81.2
39                 44.1               40.8        77.4                   81.2
40                 44.1               40.7        77.1                   82.1
41                 43.3               40.7        77.2                   81.7
42                 43.3               40.7        77.1                   82.0
43                 43.1               40.2        77.0                   81.7
44                 43.1               40.1        76.7                   81.9

    Social Sciences and History
0                          36.8
1                          36.2
2                          36.1
3                          36.4
4                          37.3
5                          37.7
6                          39.2
7                          40.5
8                          41.8
9                          43.6
10                         44.2
11                         44.6
12                         44.6
13                         44.1
14                         44.1
15                         43.8
16                         44.0
17                         43.9
18                         44.4
19                         44.2
20                         44.2
21                         44.2
22                         44.2
23                         45.1
24                         45.5
25                         45.8
26                         46.1
27                         46.8
28                         47.9
29                         48.7
30                         49.2
31                         50.5
32                         51.2
33                         51.8
34                         51.7
35                         51.5
36                         50.9
37                         50.5
38                         50.0
39                         49.8
40                         49.3
41                         49.4
42                         49.4
43                         49.3
44                         49.2

In [15]:
df.describe()

,Year,Agriculture,Architecture,Art and Performance,Biology,Business,Communications and Journalism,Computer Science,Education,Engineering,English,Foreign Languages,Health Professions,Math and Statistics,Physical Sciences,Psychology,Public Administration,Social Sciences and History
count,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.00000,45.000000
mean,1990.400000,33.699114,34.046273,61.160000,49.519521,41.062011,56.502222,26.082222,76.473281,12.973333,66.242040,71.768889,83.091111,44.593333,31.304444,68.964444,76.08000,45.326667
std,11.848283,12.130361,9.342165,1.280341,9.743662,12.755101,8.466068,6.538637,2.181314,5.482551,1.894919,1.867646,2.843239,2.591104,8.688602,9.395796,5.67557,4.608461
min,1970.000000,4.229798,11.921005,58.600000,29.088363,9.064439,35.300000,13.600000,72.166525,0.800000,61.647206,69.000000,75.500000,38.000000,13.800000,44.400000,62.60000,36.100000
25%,1981.000000,31.085087,29.841694,60.200000,45.249512,39.266230,56.400000,19.800000,75.035199,11.600000,65.622457,70.200000,81.900000,43.100000,25.700000,66.900000,74.70000,43.900000
50%,1989.000000,32.636664,36.133348,61.300000,50.774716,46.781565,60.000000,27.600000,76.143015,14.100000,66.437779,71.200000,84.100000,45.700000,31.300000,71.600000,76.80000,44.600000
75%,2000.000000,45.057766,40.690282,62.000000,58.489583,48.840474,61.900000,29.900000,78.544948,16.800000,67.820221,73.800000,85.100000,46.500000,40.200000,76.700000,81.10000,49.300000
max,2011.000000,50.037182,44.499331,63.400000,62.169456,50.552335,64.600000,37.100000,79.618625,19.000000,68.894487,75.300000,86.500000,48.300000,42.200000,77.800000,82.10000,51.800000

In [16]:
# Merging and Joins

In [17]:
# Creating two DataFrames

In [18]:
import pandas as pd

In [20]:
data1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D', 'E', 'F'],
                      'Value1': [1,2,3,4,5,6]})

data2 = pd.DataFrame({'Key': ['C', 'D', 'E', 'F', 'G', 'H'],
                      'Value2': [8,9,10,11,23,14]})

print (data1)
print (data2)

  Key  Value1
0   A       1
1   B       2
2   C       3
3   D       4
4   E       5
5   F       6
  Key  Value2
0   C       8
1   D       9
2   E      10
3   F      11
4   G      23
5   H      14

In [22]:
Merge_InnerJoin = pd.merge(data1 , data2, on='Key', how='inner')
print (Merge_InnerJoin)

  Key  Value1  Value2
0   C       3       8
1   D       4       9
2   E       5      10
3   F       6      11

In [24]:
Merge_LeftJoin = pd.merge(data1 , data2, on='Key', how='left')
print (Merge_LeftJoin)

  Key  Value1  Value2
0   A       1     NaN
1   B       2     NaN
2   C       3     8.0
3   D       4     9.0
4   E       5    10.0
5   F       6    11.0

In [26]:
Merge_rightJoin = pd.merge(data1 , data2, on='Key', how='right')
print (Merge_rightJoin)

  Key  Value1  Value2
0   C     3.0       8
1   D     4.0       9
2   E     5.0      10
3   F     6.0      11
4   G     NaN      23
5   H     NaN      14

In [28]:
Merge_LeftOnly = pd.merge(data1 , data2, on='Key', how='left', indicator= False)
print (Merge_LeftOnly)

  Key  Value1  Value2
0   A       1     NaN
1   B       2     NaN
2   C       3     8.0
3   D       4     9.0
4   E       5    10.0
5   F       6    11.0

In [29]:
Merge_LeftAnti = pd.merge(data1 , data2, on='Key', how='left', indicator= True)
print (Merge_LeftAnti)

  Key  Value1  Value2     _merge
0   A       1     NaN  left_only
1   B       2     NaN  left_only
2   C       3     8.0       both
3   D       4     9.0       both
4   E       5    10.0       both
5   F       6    11.0       both

In [31]:
Merge_rightOnly = pd.merge(data1 , data2, on='Key', how='right', indicator= True)
print (Merge_rightOnly)

  Key  Value1  Value2      _merge
0   C     3.0       8        both
1   D     4.0       9        both
2   E     5.0      10        both
3   F     6.0      11        both
4   G     NaN      23  right_only
5   H     NaN      14  right_only

In [32]:
Merge_rightAnti = pd.merge(data1 , data2, on='Key', how='right', indicator= False)
print (Merge_rightAnti)

  Key  Value1  Value2
0   C     3.0       8
1   D     4.0       9
2   E     5.0      10
3   F     6.0      11
4   G     NaN      23
5   H     NaN      14